@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Medium\ \(1\).woff");
}
@font-face {
    font-family: Roboto-Bold;
    src: url("../fonts/Roboto-Bold.woff");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1248px;
    padding: 0 16px;
    margin: 0 auto;
}
/* main start */
.main__back{
    width: 100%;

    background: #F5F5F5;
}
.main__title{
    font-size: 40px;
    text-align: center;
    font-family: Roboto-Bold;
    padding: 50px;
}
.main__title p {
    font-size: 17px;
    font-family: Roboto;
    margin-top: 35px;
    opacity: 70%;
}
.main__img{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 55px;
    
}
.main__btn{
    align-items: center;
    justify-content: center;
    display: flex; 
    margin-top: 76px;
    gap: 67px;
    
    
}
.btns{
    border: 1px solid white;
    background: white;
    width: 189px;
    height: 45px;
    gap: 67px;
    font-size: 15px;
    font-family: Roboto;
    border-radius: 25px;
    margin-bottom: 101px; 
    color: #6F2CFF;
    transition: .5s;
    outline: none;  
    margin-right: 80px;
}
.btns:hover{
    background: #6F2CFF;
    cursor: pointer;
    color: #F5F5F5;
   
}
/* main end */

/* brands start */
 .brands{
    text-align: center;
    margin-top: 77.75px;
 }
 .title__brands{
    font-family: Roboto-Bold;
    font-size: 40px;
 }
 .brands__wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 40px;
 
 }
 .brands__card{
    margin-top: 75.25px;
    width: 320px;
    height: 445px;
   box-shadow: 0 0  3px;
    border-radius: 7px;
    background: #F5F5F5;

 }

 .brands__card img{
    width: 100%;
    border-radius: 7px;
 }
 .logo{
    width: 130px;
    height: 88px;
    padding-right: 45px;
    padding-left: 55px;
    padding-top: 45px;
 }
 .brands__text{
    padding-left: 85px;
    padding-top: 25px;
    padding-right: 67px;
    padding-bottom: 60px;
    color: #0a61e4;
    font-size: 18px;
    font-family: Roboto;
 }
 .brands__text:hover{
    cursor: pointer;
    color: #e57525;
 }
 .logo__mand{
    width: 20px;
    height: 70px;
 }
 /* brands end */

 /* specialist start */
 .specialist{
     text-align: center;
    margin-top: 105px
 }
 .specialist__title{
    padding-top: 65px;
    font-size: 50px;
    font-family: Roboto-Bold;
 }
.specialist__text{
    font-size: 19px;
    margin-top: 20px;
    font-family: Roboto;
}
.specialist__wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    
}
.card{
    width: 493px;
    height: 210px;
    background: #17002E;
    margin-top: 58px;
    border-radius: 10px;
    box-shadow: 0 0  8px rgb(0, 220, 66);
  
}
.card{
    display: inline-block;
}
.image{
    float: left;
    gap: 21px;
    padding-left: 27px;
    padding-top: 20px;
}
.text{
    padding-top: 35px;
    font-size: 20px;
    font-family: Roboto;
    padding-left: 25px;
    color: white;
}
.image__desc{
    padding-top: 30px;
    font-size: 18px;
    font-family: Roboto;
    padding-left: 32px;
    color: white;
}
.botoom__desc{
    padding-top: 23px;
}
.line{
    margin-top: 10px;
    width: 383px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}
.card:hover{
    cursor: pointer;
}
.botoom__desc:hover{
    
    color: #e57525;
   
}

/* specialist end  */